<h2 class="monkey-card-in-map"><%= link_to monkey.name, monkey_path(monkey) %></h2>
<p class="monkey-picture-in-map"><%= cl_image_tag monkey.picture %></p>
<p><%= monkey.speciality %></p>
<p><%= monkey.price %>€</p>
