#map {
  height: 100vh;
  position: sticky;
  top: 80px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.monkey-card-in-map h2 {
  text-decoration: none;
  color: #3b302a;
}

.monkey-picture-in-map > img {
  height: 200px;
  width: 100%;
  object-fit: cover
}
